<!DOCTYPE html>
<html lang="nl">
{{- partial "head.html" . -}}
<body id="home">
{{- partial "header.html" . -}}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        {{ with site.Data.homepage.main }}
                        <h1 class="mx-auto my-0 text-uppercase">{{ .header.title }}</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-5">{{ .header.description }}</h2>
                            {{ if .header.button.enable }}
                                {{ if .header.button.onclick }}
                                <a class="btn btn-primary" href="javascript:void(0);" onclick="{{ safeJS .header.button.onclick }}">{{ .header.button.text }}</a>
                                {{ else }}
                                <a class="btn btn-primary" href="{{ .header.button.url }}" target="_blank">{{ .header.button.text }}</a>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
        </header>

        <section class="contact-section bg-black" id="aanbod">
            <div class="container px-4 px-lg-5">
                <h2 class="text-white mb-4 text-center">Ons aanbod</h2>
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    {{ range site.Data.homepage.aanbod }}
                    <div class="col-md-3 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-newspaper text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">{{ .naam }}</h4>
                                <hr class="my-4 mx-auto" />
                                <p>
                                {{ .omschrijving }}
                                </p>
                                {{ if .oude_prijs }}
                                <h5 class="strikethrough">&euro;{{ .oude_prijs }}</h5>
                                {{ else }}
                                <h5>&nbsp;</h5>
                                {{ end }}
                                <h3>&euro;{{ .prijs }}</h5>
                                </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </section>

        <section class="contact-section bg-black" id="afspraak">
            <div class="container px-4 px-lg-5">
                <h2 class="text-white mb-4 text-center">Maak een afspraak</h2>
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <p class="text-center text-white">
                        Wij hebben geen vaste locatie maar werken met partners. Wij zijn hier elke maand aanwezig zodat je elke maand je progressie kunt zien. Kies hieronder één van onze partners om een afspraak te maken voor een scan.
                    </p>
                    {{ range site.Data.homepage.partners }}
                    <div class="col-md-3 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <img src="{{ .logo }}" width="200"/>
                                <!--<h4 class="text-uppercase m-0">{{ .naam }}</h4>-->
                                <hr class="my-4 mx-auto" />
                                <p>
                                {{ .adres }}
                                </p>
                                <a class="btn btn-primary about-btn" href="{{ .afspraak_url }}" target="_blank">Maak een afspraak</a>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </section>

        <!-- About-->
        {{ with site.Data.homepage.about }}
        <section class="about-section text-center" id="overons">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">{{ .title }}</h2>
                        <div class="text-white-50">
                            {{ markdownify .desc }}
                        </div>
                        {{ if .button.enable }}
                            <a class="btn btn-primary about-btn" href="{{ .button.url }}" target="_blank">{{ .button.text }}</a>
                        {{ end }}
                    </div>
                </div>
            </div>
        </section>
        {{ end }}

        <section class="contact-section bg-black" id="faq">
            <div class="container px-4 px-lg-5 justify-content-center">
                <h2 class="text-white mb-4 text-center">Veelgestelde vragen</h2>
                    <div>
                        {{range $index, $element := site.Data.homepage.faq}}
                        <div class="card h-100" onclick="$('#faq .faq-content').addClass('collapse');$('#faq{{ $index }}').toggleClass('collapse');">
                                <h6>
                                        {{ markdownify $element.q }}
                                </h6>
                                <div class="collapse faq-content" id="faq{{ $index }}">
                                        {{ markdownify $element.a }}
                                </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact-->
        <section class="contact-section bg-black" id="contact">
        
            <div class="container px-4 px-lg-5">

                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-3 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-newspaper text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Nieuwsbrief</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">Klik <a class="ml-onclick-form" href="javascript:void(0)" onclick="ml('show', 'Ew3Toy', true)">hier</a> om je in te schrijven voor onze nieuwsbrief.</div>
                            </div>
                        </div>
                    </div>
                    {{ if site.Params.address }}
                    <div class="col-md-3 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Bezoekadres</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">{{ site.Params.address }}</div>
                            </div>
                        </div>
                    </div>
                    {{ end }}

                    <div class="col-md-3 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50"><a href="mailto:{{ site.Params.email }}">{{ site.Params.email }}</a></div>
                            </div>
                        </div>
                    </div>

                    {{ if site.Params.phone }}
                    <div class="col-md-3 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Telefoon</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">{{ site.Params.phone }}</div>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="{{ site.Params.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a class="mx-2" href="{{ site.Params.facebook }}" target="_blank"><i class="fab fa-facebook"></i></a>
                </div>
            </div>
        </section>
{{- partial "footer.html" . -}}
</body>
</html>