<!DOCTYPE html>
<html lang="en">
{{- partial "head.html" . -}}
<body id="home">
{{- partial "header.html" . -}}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        {{ with site.Data.homepage.main }}
                        <h1 class="mx-auto my-0 text-uppercase">{{ .header.title }}</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-5">{{ .header.description }}</h2>
                            {{ if and .header.button.enable .header.button.url }}
                                <a class="btn btn-primary" href="{{ .header.button.url }}" target="_blank">{{ .header.button.text }}</a>
                            {{ end }}
                            {{ if and .header.button.enable .header.button.onclick }}
                                <a class="btn btn-primary" href="javascript:void(0);" onclick={{ safeJS .header.button.onclick }}>{{ .header.button.text }}</a>
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
        </header>


        <!-- About-->
        {{ with site.Data.homepage.about }}
        <section class="about-section text-center" id="overons">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">{{ .title }}</h2>
                        <div class="text-white-50">
                            {{ markdownify .desc }}
                        </div>
                        {{ if .button.enable }}
                            <a class="btn btn-primary about-btn" href="{{ .button.url }}" target="_blank">{{ .button.text }}</a>
                        {{ end }}
                    </div>
                </div>
            </div>
        </section>
        {{ end }}

  x

        <!-- Contact-->
        <section class="contact-section bg-black" id="contact">
        
            <div class="container px-4 px-lg-5">

                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-3 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-newspaper text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Nieuwsbrief</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">Klik <a class="ml-onclick-form" href="javascript:void(0)" onclick="ml('show', 'Ew3Toy', true)">hier</a> om je in te schrijven voor onze nieuwsbrief.</div>
                            </div>
                        </div>
                    </div>
                    {{ if site.Params.address }}
                    <div class="col-md-3 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Bezoekadres</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">{{ site.Params.address }}</div>
                            </div>
                        </div>
                    </div>
                    {{ end }}

                    <div class="col-md-3 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50"><a href="mailto:{{ site.Params.email }}">{{ site.Params.email }}</a></div>
                            </div>
                        </div>
                    </div>

                    {{ if site.Params.phone }}
                    <div class="col-md-3 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Telefoon</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">{{ site.Params.phone }}</div>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="{{ site.Params.instagram }}"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </section>
{{- partial "footer.html" . -}}
</body>
</html>